.fondoPersonalProfile {
    position: relative;
    left: 800px;
    width: 350px;
    height: 76px;
}

#fotoPersonalProfile {
    position: absolute;
    width: 60px;
    left: 20px;
    top: 8px;
}

#nombreUsuarioPerfil {
    position: absolute;
    color: black;
    font-size: 13px;
    font-family: Arial;
    top: 13px;
    left: 95px;
}

#nombrecompleto {
    color: gray;
    font-size: 14px;
    font-family: Arial;
    position: absolute;
    top: 28px;
    left: 95px;
}

#opcionCambiar {
    color: deepskyblue;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    top: 26px;
    left: 290px;
}